.Signup-main {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}

.signup-page-popup {
  place-self: center;
  width: max(23vw, 330px);
  color: #808080;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}

.signup-page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}

.signup-page-title .cross-icon {
  cursor: pointer;
  font-size: 25px;
}

.sign-page-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-page-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
}

.signup-page-popup button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  background-color: #263238;
  font-size: 15px;
  cursor: pointer;
}

.sign-page-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.sign-page-condition input {
  margin-top: 5px;
}

.Signup-main p span {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}
.Signup-main p span:hover {
  border-bottom: 1px solid tomato;
}
